body {
    background-color: antiquewhite;
}

p {
    color: darkslategrey;
    font-size: large;
    font-weight: bold;
}

table, td {
    border: 1px solid darkslategrey;
}

td {
    text-align: center;
}

.image {
    height: 40vh;
}
